<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Mypay
            </div>
            <div class="card-body">
                <p class="card-text">Order #25749</p>
                <p class="card-text">2 × Brewed Coffee</p>
                <p class="card-text">1 USD</p>
                <hr size="30">
                <p class="card-text">Select payment currency</p>
                <form>
                    <div class="form-group row  p-2">
                        <button type="button" class="btn btn-outline-secondary ml-1">Bitcoin</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Litecoin</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Dash</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Bitcoin Cash</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Bitcoin Gold</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Bitcoin Diamond</button>
                        <button type="button" class="btn btn-outline-secondary ml-1">Bitcoin Private</button>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Your email for payment recipent">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Pay With Coin</button>
                        <p>Currency cannot be changed after proceeding</p>
                    </div>

                </form>
            </div>
        </div>
    </div>


</body>

</html>